{{ define "main" }}

<main>
  <section class="main-strip p-strip--{{.Params.backgroundType}}"
    {{if eq .Params.backgroundType "image"}}
    style="background-image:url('{{.Params.backgroundImage}}')"
    {{end}}>
      <div class="row">
        {{if eq .Params.backgroundType "image"}}
        <div class="col-6 col-start-large-7 right-section">
          <div class="p-card--overlay">
            <img src="{{ .RelPermalink }}{{.Params.image}}" alt="" style="padding: 20px">
            <h2>{{.Title}}</h2>
            <p class="p-card__content">{{.Params.description}}</p>
          </div>
        </div>
        {{else}}
        <div class="col-8">
          <h1>{{.Title}}</h1>
          <p>{{.Params.description}}</p>
        </div>
        <div class="col-4">
          <img src="{{ .RelPermalink }}{{.Params.image}}" alt="">
        </div>
        {{end}}
      </div>
  </section>
  <section class="p-strip--light">
    <div class="row u-vertically-center">
      <div class="col-8">
        <h1>{{i18n "about_online_title"}}</h1>
        <p>{{i18n "about_online_desc"}}</p>
        <a href="https://discourse.ubuntu.com/c/locos/ubuntu-uk"><button class="p-button">{{i18n "forums_discourse"}}</button></a>
        <a href="../chat"><button class="p-button">{{i18n "chat"}}</button></a>
        <a href="https://wiki.ubuntu.com/UKTeam/"><button class="p-button">{{i18n "wiki"}}</button></a>
        <a href="https://lists.ubuntu.com/archives/ubuntu-uk/"><button class="p-button">{{i18n "mailing_list"}}</button></a>
        <a href="https://lists.ubuntu.com/archives/ubuntu-uk/"><button class="p-button">{{i18n "mailing_list"}}</button></a>
        <a href="https://floss.social/@ubuntu_UK"><button class="p-button">{{i18n "mastodon"}}</button></a>
      </div>
      <div class="col-4">
          <img src="{{ .RelPermalink }}/community.svg" alt="">
        </div>
    </div>
  </section>
  <section class="p-strip--accent">
    <div class="row u-vertically-center">
      <div class="col-12">
        <h1>{{i18n "about_networking_title"}}</h1>
        <p>{{i18n "about_networking_desc"}}</p>
        <ul class="p-matrix">
          <li class="p-matrix__item">
            <div class="p-matrix__content">
              <img src="{{ .RelPermalink }}/conference.jpg" alt="">
              <h3 class="p-matrix__title">{{i18n "about_networking_events_title"}}</h3>
              <div class="p-matrix__desc">
                <p>
                  {{i18n "about_networking_events_desc"}}
                </p>
              </div>
<!--              <div>
                <a href="https://event.ubuntu-kr.org"><button class="p-button is-dark">{{i18n "about_networking_events_button"}}</button></a>
</div> -->
            </div>
          </li>
          <li class="p-matrix__item">
            <div class="p-matrix__content">
              <img src="{{ .RelPermalink }}/train.jpg" alt="">
              <h3 class="p-matrix__title">{{i18n "about_social_title"}}</h3>
              <div class="p-matrix__desc">
                <p>
                  {{i18n "about_social_desc" | safeHTML}}
                </p>
              </div>
              <div>
                <a href="https://discourse.ubuntu.com/t/ubuntu-uk-real-ale-train/42210"><button class="p-button is-dark">{{i18n "about_social_button"}}</button></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="p-strip--light">
    <div class="row u-vertically-center">
      <div class="col-12">
        <h1>{{i18n "about_organizing_title"}}</h1>
        <p>
          {{i18n "about_organizing_desc"}}
        </p>
        <a href="https://wiki.ubuntu.com/UKTeam"><button class="p-button">{{i18n "about_organizers_en"}}</button></a>
        <a href="https://discourse.ubuntu.com/c/locos/ubuntu-uk"><button class="p-button">{{i18n "about_organizers_join"}}</button></a>
      </div>
    </div>
  </section>
  <!--  {{- partial "sponsors.html" . -}} -->
</main>
{{ end }}
